.title{
    color: black;
    background: rgb(202, 200, 200);
}

#cabecera{
    background: green;
}

.text-size{
    font-size : 13px;
    color: green;
}

.parrafos{
    border: 1px solid black;
}

#footer{
    color :red;
}
